---
BasedOnStyle: Google
Language: Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortEnumsOnASingleLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BreakBeforeBraces: Attach
# Use BraceWrapping with custom BreakBeforeBraces
# BreakBeforeBraces: Custom
# BraceWrapping:
BreakConstructorInitializers: BeforeComma
ColumnLimit: 120
ConstructorInitializerIndentWidth: 0
Cpp11BracedListStyle: false
DerivePointerAlignment: false
IndentCaseLabels: true
IndentWidth: 4
LambdaBodyIndentation: Signature
PackConstructorInitializers: Never
PointerAlignment: Left
ReferenceAlignment: Left
ReflowComments: true
SpacesBeforeTrailingComments: 2
Standard: c++20
---
