__pycache__/
*.py[cod]
*$py.class
env

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
doc/qtools/gcopy
doc/qtools/gdeebnf
doc/qtools/gdeempty
doc/qtools/gsample
doc/qtools/gsqueeze
doc/qtools/gstartfollow
doc/qtools/gstats
*.bak

# Bin
bin
*/bin
*/bin/*

# Build
pybuild/
build/
cbuild/

# Testing
Testing

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flex and Bison generated sources
*.tab.*
*.yy.*
log
*.dot
*.output
*.png

# SWIG generated sources
library/**/*_swig*

.idea/
cmake-build-*/

tags

# IDE's
.project
.cproject

# conan
CMakeUserPresets.json
conanbuildinfo.txt
conaninfo.txt
graph_info.json
