[submodule "src/library/doctest"]
	path = src/tests/cpp/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "src/cqasm/tree-gen"]
	path = src/cqasm/tree-gen
	url = https://github.com/QuTech-Delft/tree-gen.git
