name: Test

on:
  push:
    branches:
    - develop
  pull_request:

jobs:
  cpp:
    name: 'C++ tests'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Install dependencies
      if: matrix.os == 'macos-latest'
      run: |
        brew install bison flex
        echo "/usr/local/opt/bison/bin" >> $GITHUB_PATH
        echo "/usr/local/opt/flex/bin" >> $GITHUB_PATH
    - uses: actions/cache@v2
      if: matrix.os == 'windows-latest'
      with:
        path: C:\Users\runneradmin\AppData\Local\Temp\chocolatey
        key: ${{ runner.os }}-chocolatey-cpp-0
        restore-keys: |
          ${{ runner.os }}-chocolatey-cpp-
          ${{ runner.os }}-chocolatey-
    - name: Install dependencies
      if: matrix.os == 'windows-latest'
      run: choco install winflexbison3 --version 2.5.18.20190508
    - name: Configure
      run: cmake . -DCMAKE_BUILD_TYPE=Debug -DLIBQASM_BUILD_TESTS=ON -DBUILD_SHARED_LIBS=OFF
    - name: Build
      run: cmake --build . --parallel
    - name: Test
      run: ctest -C Debug --output-on-failure

  python:
    name: Python
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
        python:
        - '3.6'
        - '3.7'
        - '3.8'
        - '3.9'
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: python -m pip install --upgrade pip setuptools wheel pytest numpy
    - name: Install dependencies
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get install -y swig
        echo "LIBQASM_BUILD_TYPE=Debug" >> $GITHUB_ENV
    - name: Install dependencies
      if: matrix.os == 'macos-latest'
      run: |
        brew install bison flex swig
        echo "/usr/local/opt/bison/bin" >> $GITHUB_PATH
        echo "/usr/local/opt/flex/bin" >> $GITHUB_PATH
        echo "LIBQASM_BUILD_TYPE=Debug" >> $GITHUB_ENV
    - uses: actions/cache@v2
      if: matrix.os == 'windows-latest'
      with:
        path: C:\Users\runneradmin\AppData\Local\Temp\chocolatey
        key: ${{ runner.os }}-chocolatey-python-1
        restore-keys: |
          ${{ runner.os }}-chocolatey-python-
          ${{ runner.os }}-chocolatey-
    - name: Install dependencies
      if: matrix.os == 'windows-latest'
      shell: powershell
      run: |
        choco install winflexbison3 --version 2.5.18.20190508
        #choco install swig --version 4.0.1
        echo "LIBQASM_BUILD_TYPE=Release" >> $GITHUB_ENV
    - name: Build
      env:
        NPROCS: 100
      run: python -m pip install --verbose .
    - name: Test
      run: python -m pytest

  conda:
    name: Conda
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        #- windows-latest
        #- windows-2016
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Set up conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        miniconda-version: "latest"
        channel-priority: strict
        channels: conda-forge
        show-channel-urls: true
        use-only-tar-bz2: true
    - name: Install Windows dependencies
      if: matrix.os == 'windows-2016'
      run: choco install winflexbison3 --version 2.5.18.20190508
    - name: Install conda dependencies
      run: conda install conda-build conda-verify -y
    - name: Build & test
      env:
        NPROCS: 100
      run: conda build python/conda
    - name: Install
      # This doesn't seem to work on Windows in CI because everything appears
      # to build in a non-default environment and conda is broken for that,
      # see https://github.com/conda/conda/issues/7758
      # Note that conda build already does a test install in a fresh
      # environment, so this is a bit redundant anyway.
      if: matrix.os != 'windows-2016'
      run: conda install libqasm --use-local

  docker:
    name: Docker
    runs-on: ubuntu-latest
    container: centos:7
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Install dependencies
      shell: bash
      run: |
        yum install -y centos-release-scl
        yum install -y devtoolset-7 git wget
        yum install -y cmake
        echo "source scl_source enable devtoolset-7" >> ~/.bash_profile
    - name: CMake
      run: cmake $GITHUB_WORKSPACE -DLIBQASM_BUILD_TESTS=ON -DLIBQASM_COMPAT=ON
    - name: Build
      run: make -j
    - name: Test
      run: make test
    - name: Install
      run: make install
